#section .nav{
    display: flex;
    width: 45%;
    padding: 13px 0;
    margin: 0 auto;
    justify-content: space-between;
}
#section div.list{
    width: 1200px;
    margin: 30px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#section div.list img{
    width: 250px;
    height: 250px;
}
#section div.list div.content{
    width: 895px;
    padding-top: 20px;
}
#section div.list div.content h1{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10px;
}
#section div.list div.content p{
    margin-bottom: 10px;
}
#section .inline{
    display: inline-block;
    margin-right: 60px;
}
#section div.btn a{
    float: left;
    width: 122px;
    height: 38px;
    border: 1px solid #999;
    margin-right: 8px;
    text-align: center;
    line-height: 38px;
    border-radius: 4px;
}
#section div.btn a.active{
    background: #31c27c;
    color: #fff;
}
#section div.btn a.active i{
    background-position: -81px 118px;
}
#section div.btn a.active:hover{
    color: #fff !important;
    background: #2caf6f;
}
#section div.btn a i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/details/icon_sprite.png);
    background-position: -60px 120px;
    vertical-align: middle;
    margin-right: 8px;
}
#section div.btn a:nth-child(2) i{
    background-position: -60px 340px;
}
#section div.btn a:nth-child(3) i{
    background-position: -140px 220px;
}
#section div.btn a:nth-child(4) i{
    background-position: -82px 298px;
}
#section .lyric{
    width: 1200px;
    margin: 0 auto 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#section .lyric h3{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 15px;
}
#section .lyric p{
    margin-bottom: 10px;
    font-size: 14px;
}
#section .lyric .lyric-content a{
    color: #31c27c;
    font-size: 14px;
    display: block;
    margin-top: -10px;
    height: 30px;
}
#section .lyric .lyric-content{
    width: 70%;
}
#section .lyric .hot-content{
    width: 28%;
}
#section .lyric .hot-content div{
    width: 30%;
}
#section .lyric .hot-content img{
    max-width: 100%;
}
#section .comment{
    width: 1200px;
    margin: 0 auto;
    padding-right: 28%;
}
#section .comment .area h2{
    font-size: 25px;
    font-weight: normal;
    padding-bottom: 20px;
}
#section .comment .area h2 span{
    color: #999;
    font-size: 13px;
}
#section .comment .area h2 + div{
    border: 1px solid #ececec;
    background: #f5f5f5;
}
#section .comment .area textarea{
    background: #f5f5f5;
    outline: none;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 13px;
}
#section .comment .area textarea+p{
    text-align: right;
    font-size: 13px;
    padding: 0 10px 8px 0;
}
#section .comment .area textarea+p span{
    color: #31c27c;
    font-size: 13px;
}
#section .comment .area .send{
    float: right;
    padding: 15px 0 20px;
}
#section .comment .area .send i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/details/comment.png) 0 280px;
    vertical-align: middle;
    margin-right: 5px;
}
#section .comment .area .send a{
    display: inline-block;
    width: 87px;
    height: 27px;
    text-align: center;
    background: #31c27c;
    line-height: 27px;
    border-radius: 3px;
    color: #fff;
}
#section .comment .area .send a:hover{
    background: #2caf6f;
}
#section .comment .bestcomment{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 0 15px;
    border-bottom: 1px solid #f5f5f5;
}
#section .best h4{
    font-weight: normal;
    padding-bottom: 15px;
    border-bottom: 1px solid #f5f5f5;
}
#section .comment .bestcomment img{
    width: 5%;
    height: 5%;
    border-radius: 50%;
    margin-top: 5px;
}
#section .comment .bestcomment img+div{
    width: 93%;
}
#section .comment .bestcomment-item a{
    color: #999;
}
#section .comment .bestcomment-item>p{
    padding-bottom: 10px;
}
#section .float-right{
    float: right;
}
#section .date{
    color: #999;
    font-size: 13px;
}
#section .zan,#section .send-msg{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/details/comment.png) 0 255px;
    margin:0 10px;
}
#section .send-msg{
    background-position: 0 129px;
}
#section .text{
    font-size: 13px;
}
#section .comment .end{
    text-align: center;
    padding: 30px 0 30px;
    font-size: 13px;
    color: #999;
}
