#nav ul{
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 0;
}
/*banner style*/
#banner,#small_banner,#recommend,#new{
    background: linear-gradient(to bottom,#f6f6f6 80%,white);
    padding-bottom: 50px;
}
#banner{
    position: relative;
}
#banner h1,.my-title{
    margin: 0 auto 40px;
    padding-top: 50px;
    font-size: 30px;
    width: 160px;
    letter-spacing: 10px;
}
#banner h1 + ul{
    width: 50%;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-around;
}
#banner ul.pic li{
    width: 224px;
}
#banner ul.pic li p a{
    font-size: 14px;
}
#banner ul.pic li p{
    font-size: 13px;
    color: #999;
}
#banner ul.pic img {
    max-width: 100%;
    transition: all 1s;
}
#banner .sibling-float{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 303px;
    min-height: 283px;
}
#banner .sibling-float .sibling-float-item{
    width: 3600px;
    position: relative;
    transition: all 2s;
}
#banner .sibling-float .sibling-float-item:not(:first-child){
    display: none;
}
#banner .sibling-float ul.pic{
    width: 1200px;
    float: left;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#banner .sibling-float ul.pic li{
    position: relative;
    top: 0;
    transition: top 1s;
}
#banner .sibling-float ul.pic li:hover{
    top: 20px;
    box-shadow: 0 0 10px 5px black;
}
#banner .sibling-float ul.pic li a.img{
    display: block;
    width: 224px;
    height: 224px;
    overflow: hidden;
}
#banner .sibling-float ul.pic img:hover{
    box-shadow: 0 0 10px 0 black;
    transform: scale(1.5);
}
#banner div.left,#banner div.right{
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    width: 79px;
    height: 108px;
    background: rgba(0,0,0,.05);
}
#banner div.left:hover,#banner div.right:hover{
    background: #ccc;
}
#banner div.right i.right-icon,#banner div.left i.left-icon{
    display: block;
    background: url(../img/icon_sprite.png) 0px 220px; 
    width: 22px;
    height: 39px;
    margin: 32px auto;

}
#banner div.left{
    top: 50%;
    left: 0;
}
#banner div.left i.left-icon{
    background-position: -22px 220px;
}


/*banner style*/
/*small_banner style*/
#small_banner > h1 + div{
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    line-height: 38px;
}
#small_banner > h1 + div > a{
    float: left;
    width: 123px;
    height: 38px;
    border: 1px solid #c9c9c9;
}
#small_banner > h1 + div > ul.nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    padding-right: 123px;
}
#small_banner ul.banner-list{
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    margin: 40px auto;
    justify-content: space-between;
}
#small_banner ul.banner-list>li{
    width: 33%;
    display: flex;
    flex-flow: row nowrap;
    /* padding: 10px 0; */
    margin: 10px 0;
    /* border-bottom: 1px solid #ccc; */
    /* transition: border 2s; */
}

#small_banner ul.banner-list>li:hover{
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px 1px #ccc;
    background: #fff;
}

#small_banner ul.banner-list div.img-details{
    width: 300px;
}
#small_banner ul.banner-list div.img-details>div{
    padding:20px 10px;
}
#small_banner ul.banner-list div.img-details>div+p{
    line-height: 90px;
}
#small_banner .img-details{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: 10px;
}
#small_banner div.img-details>div>p+p>a{
    color: #999;
    font-size: 0.9rem;
}
/*small_banner style*/
/*recommend style*/
#recommend{
    position:relative;
    height: 420px;
    perspective: 1000px;
}
#recommend div.carousel{
    width: 1200px;
    margin: 0 auto;
    /* display: flex; */
    /* flex-flow: row nowrap; */
    /* justify-content: space-between; */
}
#recommend ul li{
    width: 500px;
    height: 280px;
    position: absolute;
    box-shadow: 5px 5px 10px 5px black;
    transition: all 1s;
    cursor: pointer;
}
#recommend ul li.left2{
    transform: translate3d(0,0,-70px) rotateY(30deg);
    z-index: 7;
}
#recommend ul li.left1{
    transform: translate3d(200px,0,-70px) rotateY(40deg);
    z-index: 8;
}
#recommend ul li.king{
    transform: translate3d(350px,20px,0);
    z-index: 9;
}
#recommend ul li.right1{
    transform: translate3d(500px,0,-70px) rotateY(-40deg);
    z-index: 8;
}
#recommend ul li.right2{
    transform: translate3d(700px,0,-70px) rotateY(-30deg);
    z-index: 7;
}
#recommend ul li img{
    max-width: 100%;
}
#recommend div.left,#recommend div.right{
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    width: 79px;
    height: 108px;
    background: rgba(0,0,0,.05);
}
#recommend div.left:hover,#recommend div.right:hover{
    background: #ccc;
}
#recommend div.right i.right-icon,#recommend div.left i.left-icon{
    display: block;
    background: url(../img/icon_sprite.png) 0px 220px; 
    width: 22px;
    height: 39px;
    margin: 32px auto;

}
#recommend div.left{
    top: 50%;
    left: 0;
}
#recommend div.left i.left-icon{
    background-position: -22px 220px;
}
/*recommend style*/
/*new style*/
#new div.nav{
    width: 1200px;
    margin: 0 auto;
}
#new div.nav span{
    float: right;
}
#new div.nav ul{
    width: 30%;
    margin: 0 auto;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#new ul.img{
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 50px auto 40px;
    perspective: 1000px;
}
#new ul.img li{
    width: 18%;
    transition: all 1s;
}
#new ul.img li:hover{
    transform: translateZ(20px);
    box-shadow: 5px 5px 10px 10px black;
}
#new ul.img img{
    max-width: 100%;
}
#new ul.img li>p+p{
    color: #999;
    font-size: 0.9rem;
}
/*new style*/
section .active{
    color: #31c27c;
}
/* login */
#login{
    width: 600px;
    height: 435px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -150px;
    box-shadow: 1px 1px 3px 2px #ccc;
    display: none;
}
#login div.top{
    text-align: center;
    height: 56px;
    line-height: 56px;
}
#login div.top span a{
    font-size: 16px;
}
#login div.top span:last-child{
    float: right;
    width: 10px;
    height: 10px;
    margin-top: -15px;
    margin-right: 5px;
}
#login div.top span:first-child{
    margin-right: 100px;
}
#login div.top span a.active{
    color: #31c27c;
}
#login div.title p{
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
    border-top: 1px solid #ccc;
}
#login div.body{
    text-align: center;
}
#login div.body p:first-child{
    padding-bottom: 35px;
    font-size: 16px;
}
#login div.body p:first-child a{
    font-size: 16px;
    color: #3481cf;
}
#login div.body p:first-child a:hover{
    text-decoration: underline;
}
#login div.body input{
    display: block;
    margin: 0 auto;
    width: 48%;
    height: 45px;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 3px;
    border:1px solid #ccc;
    font-size: 16px;
}
#login div.body button{
    width: 48%;
    height: 45px;
    background: #86CE2F;
    border-radius: 3px;
    border: 1px solid #86CE2F;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}
#login div.bottom{
    font-size: 12px;
    padding: 0 10px;
}
#login div.bottom a{
    font-size: 12px;
}
#login div.bottom span{
    float: right;
}