#header{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
}
#header .left,#header .right{
    width: 60%;
    height: 100%;
    /* background: red; */
    float: left;
    line-height: 90px;
}
#header .left img{
    vertical-align: middle;
}
#header .left ul{
    float: right;
    width: 70%;
    height: 100%;
    margin-top: 0;
}
#header .left ul li a{
    font-size: 1.1rem;
}
#header .left ul li a.active{
    display: block;
    background: #31c27c;
    color: #fff;
    border-radius: 3px;
}
#header .left ul{
    list-style:none;
}
#header .left ul li{
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
}
#header .right{
    width: 40%;
    /* background: purple; */
    display: flex;
    justify-content: space-between;
    align-items:center;
}
#header .right .search{
    width: 48%;
    position: relative;
}
#header .right .btn{
    width: 52%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 50%;
    line-height:45px;

}
#header .right .search input{
    width: 100%;
    height: 38px;
    outline: none;
    padding-left: 1rem;
    border: 1px solid #999;
    border-radius: 5px;
}
#header .position-absolute{
    width: 100%;
    position: absolute;
    background: #fff;
    border: 1px solid #c9c9c9;
    line-height: 30px;
    top: 64px;
    /* text-align: center; */
    /* display: none; */
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
#header .position-absolute a{
    display: block;
    font-size: 13px;
    padding: 0 15px;

}
#header .position-absolute a:hover{
    background: #31c27c;
    color: #fff;
}
#header .position-absolute a span{
    color: red;
}
#header .position-absolute a i{
    font-style: normal;
    font-size: 13px;
    color: #999;
    float: right;
    line-height: 30px;
    
}
#header .position-absolute a:hover i{
    color:  #fff;
}

#header .right .btn a{
    height: 100%;
}
#header .right .btn a:nth-child(2){
    background: #31c27c;
    color: #fff;
    height: 100%;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 13px;
}
#header .right .btn a:nth-child(2):hover{
    background: #2caf6f;
}
#header .right .btn a:nth-child(3){
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    font-size: 13px;
    padding: 0 5px;
}
/* login */
#login{
    width: 600px;
    height: 435px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -220px;
    box-shadow: 1px 1px 3px 2px #ccc;
    display: none;
}
#login div.top{
    text-align: center;
    height: 56px;
    line-height: 56px;
}
#login div.top span a{
    font-size: 16px;
}
#login div.top span:last-child{
    float: right;
    width: 10px;
    height: 10px;
    margin-top: -15px;
    margin-right: 5px;
}
#login div.top span:first-child{
    margin-right: 100px;
}
#login div.top span a.active{
    color: #31c27c;
}
#login div.title p{
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
    border-top: 1px solid #ccc;
}
#login div.body{
    text-align: center;
}
#login div.body p:first-child{
    padding-bottom: 35px;
    font-size: 16px;
}
#login div.body p:first-child a{
    font-size: 16px;
    color: #3481cf;
}
#login div.body p:first-child a:hover{
    text-decoration: underline;
}
#login div.body input{
    display: block;
    margin: 0 auto;
    width: 48%;
    height: 45px;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 3px;
    border:1px solid #ccc;
    font-size: 16px;
}
#login div.body button{
    width: 48%;
    height: 45px;
    background: #86CE2F;
    border-radius: 3px;
    border: 1px solid #86CE2F;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}
#login div.bottom{
    font-size: 12px;
    padding: 0 10px;
}
#login div.bottom a{
    font-size: 12px;
}
#login div.bottom span{
    float: right;
}
