li{
	list-style:none;
}
li span{
	padding-left: 20px;
	cursor: pointer;
  background: url("../images/add.png") no-repeat center left;
}
li ul{
	/* display: none;  */
	height: 0;
	overflow: hidden;
	transition: all .3s linear;
}
.open{ background: url("../images/minus.png") no-repeat center left; }
.open+ul{
	 /* display: block;  */
	 height: 105px;
	}